*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin:0 auto;
    padding:0;
    background-color: #fbc4ab;
    width:100%;
}
main{
    content: none;    
    width: 100%;
    margin:0 auto;

}
.logo{
    background:linear-gradient(to right, rgba(0, 168, 253),#fff 35%, #e00a95);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
    float:left;
    display: flex;
    justify-items: center;
    
.logo:active{
    scale:0.92;
}
}
nav ul{
    margin:0;
    padding:0;
    background-color: black;
    text-align:center;
    width:100%;
    height:50px;
}
nav ul li{

   list-style: none;
    display:inline;
    padding:20px;
    width:100%;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    position: relative;

}
nav ul li a:after{
    background: none repeat scroll 0 0 transparent;
    bottom:0;
    content:"";
    width:0;
    display:block;
    height:2px;
    left:50%;
    position:absolute;
    background:#fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;

}
a:hover:after{
    width: 100%;
    left:0;
}
header h1{
    font-size: 5rem;
    font-weight: 900;
    padding-top:5rem;
    height: 400px;
    margin:0 auto;
    text-align: center;
    margin:20px;

    background:linear-gradient(to right, rgba(0, 168, 253),#fff 35%, #e00a95);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
    box-shadow: 0 0 60px;
}

@keyframes gradient {
    0%{background-position: 0% 75%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 70%;}
}
header, .btn-acesso{
    clear: both;
    text-align: center;
    margin:4px;
}
.btn-acesso{
    background-color: black;
    color:white;
    width: 300px;
    height: 40px;
    padding:10px;
    border-radius: 40px;
}
.btn-acesso:hover{
    cursor:pointer;
    background-color:rgb(22, 22, 22);
}
aside{
    float:right;
    width:20em;
    height:100%;
    margin: 10px;
    display: flex;
    align-items: center;
    padding:5px;
    background-color: white;
}
aside .cp-formulario{
    width:200px;
    height:35px;
    background-color:transparent;
    padding: 10px;
    margin:10px;
    border-radius: 20px;
}
.function-p{
    margin:10px;
    padding:15px;
    border: 3px solid black;
}
article{
    margin:0 auto;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
}
.titulo-arquivo{
    padding: 15px;
}
@media (max-width:400px){
    aside{
        display: flex;
        align-items: center;
        text-align: center;
        float:none;
        border-radius: 20px;
    }
} 